* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(6, 0, 20);
    color: white;
}

header{
    font-family: oswald, sans-serif;
    background-color: rgb(24, 1, 70);
    color: white;
    padding: 20px 20px;
}
.hero{
    margin: 70px 20px;
}
h1{
    font-size: 48px;
    font-family: oswald, sans-serif;
    margin-bottom: 10px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 16px;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: lighter;
    margin-bottom: 20px;
}

.Forms{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 20px;
}

.Forms h2{
    margin-bottom: 20px;
}
label{
    margin-top: 20px;
    font-size: 20px;
}
input
{
    font-size: 18px;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
}
button{
    margin: 20px 10px 10px 0;
    padding: 15px;
    font-size: 18px;
    background-color: rgb(24, 1, 70);
    color: white;
    border: none;
    cursor: pointer;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: white 1px solid;
    margin: 10px 20px;
    max-width: 90vw;

}
th, td{
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

footer{
    padding: 20px;
    background-color: rgb(24, 1, 70);
    color: white;
    font-family: oswald, sans-serif;
    gap: 10px;
    margin-top: 20px;
}